.MedicationDispensingList{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}
.MedicationDispensingList .DateAndPatientName{
    display: flex;
    justify-content: space-between;

}

.MedicationDispensingList .listOfpatient{
    position: relative;
}
.MedicationDispensingList .listOfpatient input ,.MedicationDispensingList  .date{
    border: #14B6DA 1.5px solid;
    height: 32px;
    border-radius: 2px;
}
.MedicationDispensingList .listOfpatient img{
    position: absolute;
    right: 1;
    width: 20px;
    height: 15px;
    top: 10px;
    margin-left: 10px;
}
.MedicationDispensingList .listOfpatient ul{
    width: 344px;
    position: absolute;
    background-color: #fff;
border: #14B6DA solid 1px;
margin-top: -4px;
border-top: none;    
border-bottom: none;  
}
.MedicationDispensingList .listOfpatient ul li:hover{
    background-color: #14B6DA;
    cursor: pointer;
}
.MedicationDispensingList .listOfpatient ul li{
    padding: 10px;
   border-bottom: 1px solid #14B6DA;
   cursor: pointer;
  text-align: end;
}
.MedicationDispensingList table {
    margin-top: 3rem;
    text-align: center;
    border-spacing: 0 0.5rem; /* Vertical spacing between rows */
    border-collapse: separate;
    direction: rtl;
}

.MedicationDispensingList table thead tr td {
    font-size: 25px;
}

.MedicationDispensingList table tbody tr {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0px 1px rgba(135, 135, 135, 1); 
 
}

.MedicationDispensingList table tbody tr td {
    height: 4rem;
    font-size: 20px;
    padding: 10px; /* Optional: Adds padding inside the cells */
}